<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign in</title>
    <link th:replace="fragments :: bootstrap-css"/>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Sign in</h2>
            <form method="post" data-th-action="@{/weather-tracker/sign-in}">
                <div class="mb-3">
                    <label for="inputLogin" class="form-label">Login</label>
                    <input type="text" id="inputLogin" class="form-control" placeholder="Username or email"
                           name="username" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                           name="password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 rounded-3">Sign in</button>
            </form>
            <div class="mt-3">
                Don't hava account yet? -
                <a data-th-href="@{/weather-tracker/sign-up}">Sign up</a>
            </div>
        </div>
    </div>
</div>


<script th:replace="fragments :: bootstrap-js"></script>
</body>
</html>