<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error</title>
    <link th:replace="fragments :: bootstrap-css"/>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-body bg-danger bg-gradient text-white">
            <span data-th-text="${message}"></span>, return to the
            <a data-th-href="@{/weather-tracker}">Home page</a>
        </div>
    </div>
</div>
</body>
</html>