<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather tracker</title>
</head>
<body>
<header>
    <h1>Weather tracker</h1>
    <form method="post" data-th-action="@{/search}">
        <input type="text" name="q" placeholder="Enter the location name" required>
        <button type="submit">Search</button>
    </form>
    <div data-th-text="${#authentication.name}"></div>
    <form method="post" data-th-action="@{/sign-out}">
        <button type="submit">Sign out</button>
    </form>
</header>
</body>
</html>